## SET

set is enclosed with curly bracket.
Unordered
Unindexed >> There is no use of indexing or slicing in set
Duplicates are not allowed.
Mutable -- 
Empty set is shown as set()
int, float, string, tuple >> These data types are allowed inside set  # immutable data type
list, dict, set >> These are not allowed inside set     # mutable data type

In [ ]:
list1 = ["python","data",89]
list1[1]

In [ ]:
set1= {"python","data",89}
set1     # Unordered

In [ ]:
#list and acessing the element of list 
list1[1]

In [ ]:
# set and acessing the set  
set1[1]

In [ ]:
# syntax to show the empty set 
set1 = set()
type(set1)

In [ ]:
set2 = {}
type(set2)

In [ ]:
# How to craete a dict
dict1 = {"a":1,"b":3,"c":6}
dict1

In [ ]:
set1 = {1,2,3,2.3,"python",(1,3,5)}   # immutable 
set1

In [ ]:
set2 = {1,2,3,2.3,"python",(1,3,5),{"a":5}}   # dict mutable

In [ ]:
set1 = {1,2,3,2.3,"python",[1,3,5]}   # list mutable 
set1

In [ ]:
set1 = {1,2,3,2.3,"python",{1,3,5}}   # set mutable 
set1

In [ ]:
#set not allow dulicates 
list1 = [1,3,4,1,1,4,6,3]
print(len(list1))
set1 = {1,3,4,1,1,4,6,3}
print(len(set1))
print(set1)

# empty symbols of data type 
list:[]
tuple:()
string:''
set:set()
dict: {}

In [ ]:
set1 = {4,2,1,'Python',(2,4),5.2, 5.5,0, 1.0, True,False}  #true  =1 , false = 0
print(set1, len(set1))

In [ ]:
list2 =[4,2,1,'Python',(2,4),5.2, 5.5,0 , True, 1, False]
print(list2, len(list2))

True = 1
False = 0

In [ ]:
set1 = {4,2,'Python',(2,4),5.2, 5.5,0 , True, False}
print(set1, len(set1))

In [ ]:
set1 = {4,2,'Python',(2,4),5.2, 5.5,0 , True, False,1}
print(set1, len(set1))

## Set Constructor
list2 =[4,2,1,'Python',(2,4),5.2, 5.5,0 , True, 1, False]
print(list2, len(list2))
# List to set
set1 = set(list2)
set1
print(len(set1))

In [ ]:
list1 = [1,3,4,1,5,2,57,8,8,2,3,1]
set1 = set(list1)
set1

In [ ]:
list2 = list(set1)
list2

# tuple to set

In [ ]:
tup = (1,3,5,"data",89)
set1 = set(tup)
set1

# set to tuple

In [ ]:
set2 = set(tup)
set2

# string to set

In [ ]:
str1 = "sarika"
set1 = set(str1)
set1

## Accessing set elements

In [ ]:
#Accessing the set element 
set1 = {4,2,'Python',(2,4),5.2, 5.5,0 , True, False,1}

In [ ]:
set1

In [ ]:
set1[0]   # we can not use indexing to access the element

In [ ]:
set1

In [ ]:
for ele in set1:
    print(ele)

## Set Functions

### 1. add()

Used to add only one element in a set
set.add(element)

In [1]:
set1 = {1,5,2,4,3,6}
print(set1,'\n', id(set1))

{1, 2, 3, 4, 5, 6}
 1967506351136

In [2]:
set1.add(10)
print(set1,'\n', id(set1))

{1, 2, 3, 4, 5, 6, 10}
 1967506351136

In [5]:
sub = {'math','phy','bio'}
print(sub,"\n",id(sub))

{'bio', 'math', 'phy'}
 1967506352480

In [6]:
sub.add('chem')
print(sub,"\n",id(sub))

{'chem', 'bio', 'math', 'phy'}
 1967506352480

## 2. update()

used to add the another set.

In [7]:
sub = {'math','phy','bio'}
sub1 = {'chem', 'phy'}

In [8]:
sub.update(sub1)
print(sub)
print(sub1)

{'chem', 'bio', 'math', 'phy'}
{'phy', 'chem'}

In [10]:
set1 = {1,4,5}
set2 = {2,0,8}

In [11]:
set2.update(set1)
print(set1)
print(set2)

{1, 4, 5}
{0, 1, 2, 4, 5, 8}

## 3. union()

It add the elements of both the sets. and we need a third variable here.

In [14]:
set1 = {1,4,5}
set2 = {2,0,8}

In [15]:
set3 = set1.union(set2)
print(set3)
print(set1)
print(set2)

{0, 1, 2, 4, 5, 8}
{1, 4, 5}
{0, 8, 2}

## Delete

### 1. remove()

set.remove(element)
used to remove a perticular element from the set.

In [16]:
set3

{0, 1, 2, 4, 5, 8}

In [17]:
set3.remove(0)
set3

{1, 2, 4, 5, 8}

In [18]:
set3.remove(7)
set3

KeyError: 7

## 2. discard()

used to remove a perticular element from the set. If the element is not in set, it will not through any error.
set.discard()

In [19]:
set3= {0, 1, 2, 4, 5, 8}
set3.discard(5)
set3

{0, 1, 2, 4, 8}

In [20]:
set3.discard(7)
set3

{0, 1, 2, 4, 8}

## 3. pop()

It will remove any random element
set.pop()

In [21]:
set3

{0, 1, 2, 4, 8}

In [22]:
set3.pop()
set3

{1, 2, 4, 8}

In [25]:
set3.pop()
set3

{4, 8}

In [26]:
set3 = {2,4,5,6}
set3.pop()
set3

{4, 5, 6}

## 4. clear()

Used to remove all the elements inside set.
It simply gives us an empty set.
set.clear()

In [27]:
set3 = {2,4,5,6}
set3.clear()
set3

set()

## 5. del

It delete the set.
del set3

In [28]:
set3 = {2,4,5,6}
del set3
set3

NameError: name 'set3' is not defined

1. add()     =add the element =set1.add(8)
2. update()   =sub1.update(sub2)  =   set1.update(ele)
3. union()    =add the elemet of two set by taking the third varianle    set3 = set1.union(set2)
4. remove()   =single elemt remove        set1.remove(ele)
5. discard()  =if element is not in the set still it don't show any error     set1.discard(ele)
6. pop()    =it can remove any random elemnt                  set1.pop() 
7. clear()  = it claer all the elemnts and give us empty set  set1.clear() 
8. del        =it delete all the set             del set1